
@{
    ViewBag.Title = "Index";
}

<h2>Logging</h2>

@Html.ActionLink("Error Logging", "List", null, new { @class="btn btn-primary btn-lg"})
@Html.ActionLink("Database Change Logging", "Index","DbLogging", null, new { @class = "btn btn-primary btn-lg" })
