@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<h1>Error</h1>

<div>

    <p>The error was caused by <strong>controller</strong>: @Model.ControllerName <strong>action</strong>: @Model.ActionName</p>
    <h2>Error Message</h2>
    <p>@Model.Exception</p>
</div>