@model TalmerMaint.Domain.Entities.LocImage

<div id="image-upload">
    <div class="margin-bottom-ten" >

        <span class="label label-info" id="upload-file-info"></span><br />
        @if (Model.ImageMimeType == null)
        {
            @Ajax.ActionLink("Add Branch Image",
                 "Manage","LocImage",
                 new { id = Model.LocationId },
                     new AjaxOptions
                     {
                         HttpMethod = "GET",
                         InsertionMode = InsertionMode.Replace,
                         UpdateTargetId = "image-upload"
                     },
                     new { @class = "btn btn-primary upload-img" })

        }
        else
        {
            
            <img class="img-thumbnail loc-img margin-bottom-ten" width="150" src="@Url.Action("GetImage", "LocImage", new { Model.Id })" alt="location thumbnail" /><br />
            <div>
                @Ajax.ActionLink("Update Image",
                 "Manage","LocImage",
                 new
                 { id = Model.LocationId, @class = "btn btn-primary upload-img" },
                     new AjaxOptions
                     {
                         HttpMethod = "GET",
                         InsertionMode = InsertionMode.Replace,
                         UpdateTargetId = "image-upload"
                     },
                     new { @class = "btn btn-primary upload-img btn-xs" })
                @using (Html.BeginForm("Delete", "LocImage", new { id = Model.Id }, FormMethod.Post, new { @class = "deleteConfirm inline margin-left-five" }))
                {
                    @Html.Hidden("Id", Model.Id)
                    <input type="submit" class="btn btn-danger btn-xs" value="Delete" />
                }</div>
        }
    </div>

</div>

