@model TalmerMaint.Domain.Entities.LocImage

<div>
    <div class="margin-bottom-ten" >

       
        <span class="label label-info" id="upload-file-info"></span><br />
        @if (Model.ImageMimeType == null)
        {
            @Html.ActionLink("Add Branch Image","Manage","LocImage", new { id = Model.LocationId },new { @class = "btn btn-primary" })

        }
        else
        {
            
            <img class="img-thumbnail loc-img margin-bottom-ten" width="150" src="@Url.Action("GetImage", "LocImage", new { Model.Id })" alt="location thumbnail" /><br />
            <div>
                @Html.ActionLink("Change", "Manage","LocImage", new { id = Model.LocationId },new { @class = "btn btn-primary btn-xs" }) 
                @using (Html.BeginForm("Delete", "LocImage", new { id = Model.Id }, FormMethod.Post, new { @class = "deleteConfirm inline margin-left-five" }))
                {
                    @Html.Hidden("Id", Model.Id)
                    <input type="submit" class="btn btn-danger btn-xs" value="Delete" />
                }</div>
        }
    </div>

</div>

