
@{
    ViewBag.Title = "No Anti Forgery Token";
}

<h2>Hey! Now back up buddy.</h2>
<p>The proper way to log into this site is to use the @Html.ActionLink("Login Page", "Login", "Account")</p>
